<footer>
    <link rel="stylesheet" href="/stylesheets/cookies.css">
        
    <section name="cookies">
        <div class="content">
            <div class="card-top">
                <img src="/images/cookiemonster-alone.png" alt="">
                <h2>Cookie-Einstellungen</h2>
                <p>Ich nutze Cookies, um die Webseite zu verbessern</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="description">
                        <p>
                            Die Webseite sammelt Cookies ausschließlich zum Verbessern der Webseite. Eine Weitergabe der
                            Daten an Dritte ist
                            ausgeschlossen.
                        </p>
                        <p>Für Weiteres in der Datenschutzerklärung nachschauen.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="slider">
                        <label class="switch">
                            <input type="checkbox" checked disabled>
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <p class="description">Essenzielle Cookies <span>Google Analytics</span></p>
                </div>
                <div class="row">
                    <button onclick="window.location='/datenschutz'" class="datenschutz">Datenschutzerklärung</button>
                    <button onclick="setCookie('cookie', 'true', 'true')" class="save-selection">Akzeptieren</button>
                </div>
            </div>
        </div>
    </section>
    <div class="privacy-policies">
        <a href="/impressum">
            Impressum
        </a>
        <a href="/datenschutz">
            Datenschutzerklärung
        </a>
    </div>
    <div class="copy">
        <p>&copy; Gamergram UG <%- new Date().getFullYear() %></p>
    </div>
</footer>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-P9R12Y0G8C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-P9R12Y0G8C');
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/scripts/cookies.js"></script>
<script>
    if(!answeredCookie) {
        $(window).on("load", function () {
            getCookie("cookie", "true", "true");        
        });
    }
</script>
<script src="/scripts/animations.js"></script>
<script src="/scripts/poll.js"></script>