<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#EF4AB7">
    <meta name="description" content="Gamergrid is the perfect social network for you!">
    <title>GamerGrid</title>
    <link rel="shortcut icon" href="/images/favicon-256x256.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/favicon-256x256.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" media="(max-width: 1200px)" href="/stylesheets/mobile.css">
</head>