<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamergram</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/policy.css">
</head>

 <header>
    <div class="logo">
        <a href="/">Gamergram</a>
    </div>
</header>

<section name="impressum">
    <div class="head">
        <h1>Datenschutz</h1>
        <h2>Einleitung</h2>
    </div>

    <p>Wir („wir“, „uns“, „unser/e“) nehmen den Schutz der Daten der Nutzer („Nutzer“ oder „Sie“) unserer Website und/oder unseres Mobile-App (die „Website“ bzw. der „Mobile-App“) sehr ernst und verpflichten uns, die Informationen, die Nutzer uns in Verbindung mit der Nutzung unserer Website und/oder unseres Mobile-App (zusammen: „digitale Assets“) zur Verfügung stellen, zu schützen. Des Weiteren verpflichten wir uns, Ihre Daten gemäß anwendbarem Recht zu schützen und zu verwenden.</p>
    <p>Diese Datenschutzrichtlinie erläutert unsere Praktiken in Bezug auf die Erfassung, Verwendung und Offenlegung Ihrer Daten durch die Nutzung unserer digitalen Assets (die „Dienste“), wenn Sie über Ihre Geräte auf die Dienste zugreifen.</p>
    <p>Lesen Sie die Datenschutzrichtlinie bitte sorgfältig durch und stellen Sie sicher, dass Sie unsere Praktiken in Bezug auf Ihre Daten vollumfänglich verstehen, bevor Sie unsere Dienste verwenden. Wenn Sie diese Richtlinie gelesen, vollumfänglich verstanden haben und nicht mit unserer Vorgehensweise einverstanden sind, müssen Sie die Nutzung unserer digitalen Assets und Dienste einstellen. Mit der Nutzung unserer Dienste erkennen Sie die Bedingungen dieser Datenschutzrichtlinie an. Die weitere Nutzung der Dienste stellt Ihre Zustimmung zu dieser Datenschutzrichtlinie und allen Änderungen daran dar.</p>
    <p>In dieser Datenschutzrichtlinie erfahren Sie:</p>
    <a href="#id2">Wie wir Daten sammeln</a>
    <a href="#id1">Welche Daten wir erfassen</a>
    <a href="#id3">Warum wir diese Daten erfassen</a>
    <a href="">An wen wir die Daten weitergeben</a>
    <a href="">Wo die Daten gespeichert werden</a>
    <a href="">Wie lange die Daten vorgehalten werden</a>
    <a href="">Wie wir die Daten schützen</a>
    <a href="">Wie wir mit Minderjährigen umgehen</a>
    <a href="">Aktualisierungen oder Änderungen der Datenschutzrichtlinie</a>

    <h3 id="id1">Welche Daten erfassen wir?</h3>
    <p>Kategorie: Immer</p>
    <p>Nachstehend erhalten Sie einen Überblick über die Daten, die wir erfassen können:</p>

    <p>Nicht identifizierte und nicht identifizierbare Informationen, die Sie während des Registrierungsprozesses bereitstellen oder die über die Nutzung unserer Dienste gesammelt werden („nicht personenbezogene Daten“). Nicht personenbezogene Daten lassen keine Rückschlüsse darauf zu, von wem sie erfasst wurden. Nicht personenbezogene Daten, die wir erfassen, bestehen hauptsächlich aus technischen und zusammengefassten Nutzungsinformationen.</p>
    <p>Individuell identifizierbare Informationen, d. h. all jene, über die man Sie identifizieren kann oder mit vertretbarem Aufwand identifizieren könnte („personenbezogene Daten“). Zu den personenbezogenen Daten, die wir über unsere Dienste erfassen, können Informationen gehören, die von Zeit zu Zeit angefordert werden, wie Namen, E-Mail-Adressen, Adressen, Telefonnummern, IP-Adressen und mehr. Wenn wir personenbezogene mit nicht personenbezogenen Daten kombinieren, werden diese, solange sie in Kombination vorliegen, von uns als personenbezogene Daten behandelt.</p>

    <h3 id="id2">Wie sammeln wir Daten?</h3>
    <p>Kategorie: Immer</p>
    <p>Nachstehend sind die wichtigsten Methoden aufgeführt, die wir zur Sammlung von Daten verwenden:</p>

    <p>Wir erfassen Daten bei der Nutzung unserer Dienste. Wenn Sie also unsere digitalen Assets besuchen und Dienste nutzen, können wir die Nutzung, Sitzungen und die dazugehörigen Informationen sammeln, erfassen und speichern.</p>
    <p>Wir erfassen Daten, die Sie uns selbst zur Verfügung stellen, beispielsweise, wenn Sie über einen Kommunikationskanal direkt mit uns Kontakt aufnehmen (z. B. eine E-Mail mit einem Kommentar oder Feedback).</p>
    <p>Wir können, wie unten beschrieben, Daten aus Drittquellen erfassen.</p>

    <h3 id="id3">Warum erfassen wir diese Daten?</h3>
    <p>Kategorie: Immer</p>
    <p>Wir können Ihre Daten für folgende Zwecke verwenden:</p>
    <p>um unsere Dienste zur Verfügung zu stellen und zu betreiben;</p>
    <p>um unsere Dienste zu entwickeln, anzupassen und zu verbessern;</p>
    <p>um auf Ihr Feedback, Ihre Anfragen und Wünsche zu reagieren und Hilfe anzubieten;</p>
    <p>um Anforderungs- und Nutzungsmuster zu analysieren;</p>
    <p>für sonstige interne, statistische und Recherchezwecke;</p>
    <p>um unsere Möglichkeiten zur Datensicherheit und Betrugsprävention verbessern zu können;</p>

    <p>um Verstöße zu untersuchen und unsere Bedingungen und Richtlinien durchzusetzen sowie um dem anwendbaren Recht, den Vorschriften bzw. behördlichen Anordnungen zu entsprechen;</p>
    <p>um Ihnen Aktualisierungen, Nachrichten, Werbematerial und sonstige Informationen im Zusammenhang mit unseren Diensten zu übermitteln. Bei Werbe-E-Mails können Sie selbst entscheiden, ob Sie diese weiterhin erhalten möchten. Wenn nicht, klicken Sie einfach auf den Abmeldelink in diesen E-Mails.</p>

</section>​