<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamergram</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/policy.css">
</head>

<section name="impressum">
    <div class="head">
        <h1>Impressum</h1>
        <h2>Angaben gemäß § 5 TMG</h2>
    </div>

    <p>AutonomousDronesGE UG (haftungsbeschränkt)</p>
    <p>Moselstraße 11</p>
    <p>91166 Georgensgmünd</p>

    <p>Vertreten durch</p>
    <p>Emanuel Höfling</p>

​   <h3>Kontakt</h3>

    <p>Telefon: +49 178 697 7078</p>
    <p>E-Mail: autonomousdronesug@gmail.com</p>

    ​<h3>Registereintrag</h3>

    <p>Registergericht: Amtsgericht Nürnberg</p>
    <p>Registernummer: HRB 38799</p>    

​   <h3>Umsatzsteuer-ID</h3>

    <p>Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:</p>
    <p>DE341603629</p>

​   <h3>Angaben zur Berufshaftpflichtversicherung</h3>

    <p>Name und Sitz der Gesellschaft: </p>
    <p>R+V Versicherung im RaiBa Center - Raiffeisenbank Roth-Schwabach eG</p> 
    <p>Wendelsteiner Str. 6, 91126 Schwabach</p>

    <h3>Ansprechpartner: </h3>

    <p>Name: Christian Rösch</p>

    <h3>Telefon: +49 151 264 16773</h3>

    <h3>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</h3>

    <p>Emanuel Höfling</p>
    <p>Moselstraße 11</p>
    <p>91166 Georgensgmünd</p>
</section>​