<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamergram</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">Gamergram</a>
        </div>
        <div class="nav-links">
            <a href="">Features</a>
            <a href="">Über Uns</a>
            <a href="">Abonnieren!</a>
            <a href="">Kontakt</a>
            <a href="" class="contact-btn">Schreib Dich ein!</a>
        </div>
    </header>
    <section name="hero">
        <div class="left">
            <h1>Abwechslung beim <span>Zocken</span>?</h1>
            <p class="text-grey">Mit Gamergram kannst Du Dich mit Menschen rund um die Welt verbinden</p>
            <p>Würdest Du die App nutzen?</p>
            <div class="poll">
                <div class="poll-panel">
                    <div class="choice">Ja</div>
                    <div class="choice">Nein</div>
                </div>
            </div>
        </div>
        <div class="right">
            <img src="/images/smartphone_hero.png" alt="">
        </div>
    </section>
    <section name="intro-video">
        <video src="">

        </video>
    </section>
    <section name="small features"></section>
    <section name="small enroll"></section>
    <section name="small news"></section>
    <section name="contact"></section>
</body>
<footer>
    <div class="privacy-policies">
        <div class="a">Datenschutzerklärung</div>
        <div class="a">Impressum</div>
    </div>
    <div class="copy">
        <p>&copy; Gamergram UG</p>
    </div>
</footer>
</html>