<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamergram</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">Gamergram</a>
        </div>
        <div class="nav-links">
            <a href="">Features</a>
            <a href="">Über Uns</a>
            <a href="">Abonnieren!</a>
            <a href="">Kontakt</a>
            <a href="" class="contact-btn">Schreib Dich ein!</a>
        </div>
    </header>
    <section name="hero">
        <div class="mouse">
            
        </div>
        <div class="left">
            <div class="container">
                <h1>Abwechslung beim <span>Zocken</span>?</h1>
                <p class="text-grey">Mit Gamergram kannst Du Dich mit Menschen rund um die Welt verbinden</p>
                <p>Würdest Du die App nutzen?</p>
                <div class="poll">
                    <div class="poll-panel">
                        <div class="choice">Ja</div>
                        <div class="choice">Nein</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <img src="/images/smartphone_hero.png" alt="">
        </div>
    </section>
    <section name="intro-video">
        <!-- <iframe width="100%" height="1080" src="https://www.youtube.com/embed/Ml_xeZ43nQo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
    </section>
    <section class="small" name="features">
        <div class="head">
            <h1>Unsere Features</h1>
            <h4>Wir sind stolz darauf, was wir versprechen können</h4>
        </div>
        <div class="cards">

            <div class="card">
                <div class="card-top">
                    <img src="" alt="">
                    <h3></h3>
                </div>
                <div class="card-description">
                    <p></p>
                </div>
            </div>
            <div class="card">
                <div class="card-top">
                    <img src="" alt="">
                    <h3></h3>
                </div>
                <div class="card-description">
                    <p></p>
                </div>
            </div>
            <div class="card">
                <div class="card-top">
                    <img src="" alt="">
                    <h3></h3>
                </div>
                <div class="card-description">
                    <p></p>
                </div>
            </div>
        </div>
    </section>
    <section name="small enroll">
        <div class="head">
            <h1>Du hast Anregungen oder Ideen?</h1>
            <h4>Dann schreib und! Wir freuen uns über jedes Feedback oder neue Ideen!</h4>
        </div>
        <div>
            <form action="POST">
                <input type="email" name="" id="" placeholder="Trag hier Deine E-Mail ein">
                <button>Los Gehts!</button>
                <p>* deine E-Mail-Adresse wird nicht an Dritte weitergegeben</p>
            </form>
        </div>
    </section>
    <section class="small" name="news">
        <div class="head">
            <h1>Neuigkeiten</h1>
            <h4>Die Entwicklung unserer App geht schnell voran!</h4>
        </div>
        <div class="cards">
            <div class="card">
                <div class="card-description dark">
                    <h2>Die Entwicklungsphase startet</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, recusandae?</p>
                    <a href="">Erfahre Mehr</a>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="card">
                <div class="card-description white">
                    <h2>Investoren, Ihr dürft kommen.</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum, iure!</p>
                    <a href="">Erfahre Mehr</a>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="card">
                <div class="card-description white">
                    <h2>Android und iOS</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, illum.</p>
                    <a href="">Erfahre Mehr</a>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="card">
                <div class="card-description dark">
                    <h2>Wir planen auch eine Web-App</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, reiciendis!</p>
                    <a href="">Erfahre Mehr</a>
                </div>
            </div>
        </div>
    </section>
    <section name="contact">
        <div class="left">
            <h1>Schreib uns!</h1>
            <h4>Du möchtest mehr Informationen, oder sogar dabei helfen dieses Projekt mitzugestalten? Dann schreibe uns mit Deinem Anliegen und wir werden uns schnellst möglich darum kümmern! </h4>
            <div class="social-media">
                <a href="" class="information">
                    <i class="fas fab-instagram"></i>
                    <p>@gamergram</p>
                </a>
            </div>
            <div class="social-media">
                <a href="" class="information">
                    <i class="fas fab-twitter"></i>
                    <p>@gamergram_de</p>
                </a>
            </div>
            <div class="social-media">
                <a href="" class="information">
                    <i class="fas fab-linkedin"></i>
                    <p>GAMERGRAM</p>
                </a>
            </div>
            <div class="social-media">
                <a href="" class="information">
                    <i class="fas fa-phone-alt"></i>
                    <p>+49 123 4567 8901</p>
                </a>
            </div>
        </div>
        <div class="right">
            <form action="">
                <div class="input-field">
                    <label for=""></label>
                    <div class="input">
                        <label for=""></label>
                        <input type="text">
                    </div>
                </div>
                <div class="input-field">
                    <label for=""></label>
                    <div class="input">
                        <label for=""></label>
                        <input type="text">
                    </div>
                </div>
                <div class="input-field">
                    <label for=""></label>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
                <button>Absenden</button>
            </form>
        </div>
    </section>
</body>
<footer>
    <div class="privacy-policies">
        <div class="a">Datenschutzerklärung</div>
        <div class="a">Impressum</div>
    </div>
    <div class="copy">
        <p>&copy; Gamergram UG</p>
    </div>
</footer>
</html>