<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamergram</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" media="(max-width: 1200px)" href="/stylesheets/mobile.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">Gamergram</a>
        </div>
        <div class="nav-links">
            <a href="">Features</a>
            <a href="">Über Uns</a>
            <a href="">Abonnieren</a>
            <a href="">Kontakt</a>
            <a href="" class="contact-btn">Schreib Dich ein!</a>
        </div>
    </header>
    <section name="hero">
        <div class="mouse">
            
        </div>
        <div class="left">
            <div class="container">
                <h1>Abwechslung beim <span>Zocken</span>?</h1>
                <p class="text-grey">Mit Gamergram kannst Du Dich mit Menschen rund um die Welt verbinden</p>
                <p>Würdest Du die App nutzen?</p>
                <form class="poll" action="/poll" method="POST">
                    <div class="poll-panel">
                        <a onclick="submitForm(event, 'yes')">
                            <input type="radio" class="choice" id="yes" name="yes" value="Ja">
                            Ja
                        </a>
                        <a onclick="openField()">
                            <input type="radio" class="choice" id="no" name="no" value="Nein">
                            Nein
                        </a>
                    </div>
                    <div class="input-field hide">
                        <label for="message">Was würdest Du verändern, um die App zu nutzen?</label>
                        <textarea name="message" id="message" cols="30" rows="10" placeholder="Optional"></textarea>
                        <button onclick="submitForm(event, 'no')">
                            Absenden
                        </button> 
                    </div>
                    <div class="flash-message hide">
                        <p>Danke für Deine Hilfe! Schau Dir gerne noch die Seite an und hilf uns dabei etwas zu schaffen!</p>
                    </div>
                </form>
            </div>
        </div>
        <div class="right">
            <img src="/images/smartphone_hero.png" alt="">
        </div>
    </section>
    <section name="intro-video">
        <iframe width="100%" height="1080" src="https://www.youtube.com/embed/Ml_xeZ43nQo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>
    <section class="small" name="features">
        <div class="head">
            <h1>Unsere Features</h1>
            <h4>Wir sind stolz darauf, was wir versprechen können</h4>
        </div>
        <div class="cards">

            <div class="card">
                <div class="card-top">
                    <img src="/images/Sicherheit.png" alt="">
                    <h3>Sicherheit & Datenschutz</h3>
                </div>
                <div class="card-description">
                    <p>Wir setzen auf Ende-Zu-Ende Verschlüsselung, wenn Du mit Freunden schreibst.
Das bedeutet, kein Dritter, auch nicht wir wissen was Du schreibst</p>
                </div>
            </div>
            <div class="card">
                <div class="card-top">
                    <img src="/images/News.png" alt="">
                    <h3>Immer Up-To-Date</h3>
                </div>
                <div class="card-description">
                    <p>Alle Nachrichten von Spielen die du liebst auf einen Blick. Sei immer auf dem neusten Stand, egal ob neue Season, neues Update oder sonstiges!</p>
                </div>
            </div>
            <div class="card">
                <div class="card-top">
                    <img src="/images/Netzwerk.png" alt="">
                    <h3>Vernetze Dich</h3>
                </div>
                <div class="card-description">
                    <p>Du möchstest Abwechslung, dann suche Spieler in der Umgebung oder Landesweit. Entscheide selbst! Checke die Spiele aus, die andere Spielen und suche Dir Inspiration.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="small" name="enroll">
        <div class="head">
            <h1>Du hast Anregungen oder Ideen?</h1>
            <h4>Dann schreib und! Wir freuen uns über jedes Feedback oder neue Ideen!</h4>
        </div>
        <div>
            <form action="/abo" method="POST">    
                <input type="email" name="email" placeholder="Trag hier Deine E-Mail ein">
                <button>Los Gehts!</button>
                <p>* deine E-Mail-Adresse wird nicht an Dritte weitergegeben</p>
            </form>
        </div>
    </section>
    <section class="small" name="news">
        <div class="head">
            <h1>Neuigkeiten</h1>
            <h4>Die Entwicklung unserer App geht schnell voran!</h4>
        </div>
        <div class="container">
            <div class="cards">
            <div class="card dark">
                <img src="/images/news/image1.jpeg" alt="">
                <div class="card-description">
                    <h2>Die Entwicklungsphase startet</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, recusandae?</p>
                    <a href="">Erfahre Mehr »</a>
                </div>
            </div>
            <div class="card white">
                <img src="/images/news/image2.jpeg" alt="">
                <div class="card-description">
                    <h2>Investoren, Ihr dürft kommen.</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum, iure!</p>
                    <a href="">Erfahre Mehr »</a>
                </div>
            </div>
            <div class="card white">
                <img src="/images/news/image3.jpeg" alt="">
                <div class="card-description">
                    <h2>Android und iOS</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, illum.</p>
                    <a href="">Erfahre Mehr »</a>
                </div>
            </div>
            <div class="card dark">
                <img src="/images/news/image4.jpeg" alt="">
                <div class="card-description">
                    <h2>Wir planen auch eine Web-App</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, reiciendis!</p>
                    <a href="">Erfahre Mehr »</a>
                </div>
            </div>
        </div>
    </section>
    <section name="contact">
        <div class="left">
            <h1>Schreib uns!</h1>
            <h4>Du möchtest mehr Informationen, oder sogar dabei helfen dieses Projekt mitzugestalten? Dann schreibe uns mit Deinem Anliegen und wir werden uns schnellst möglich darum kümmern! </h4>
            <div class="social-media">
                <a href="" class="information">
                    <i class="fab fa-instagram"></i>
                    <p>@gamergram</p>
                </a>
            </div>
            <div class="social-media">
                <a href="" class="information">
                    <i class="fab fa-twitter"></i>
                    <p>@gamergram_de</p>
                </a>
            </div>
            <div class="social-media">
                <a href="" class="information">
                    <i class="fab fa-linkedin"></i>
                    <p>GAMERGRAM</p>
                </a>
            </div>
            <div class="social-media">
                <a href="" class="information">
                    <i class="fas fa-phone-alt"></i>
                    <p>+49 123 4567 8901</p>
                </a>
            </div>
        </div>
        <div class="right">
            <form action="">
                <div class="input-field">
                    <label for="name">Dein Name</label>
                    <div class="input">
                        <input type="text" name="name" onfocus="outline(this)" onblur="outline(this)">
                        <img src="/images/Name Icon.svg">
                    </div>
                </div>
                <div class="input-field">
                    <label for="email">Deine E-Mail</label>
                    <div class="input">
                        <input type="email" name="email" onfocus="outline(this)" onblur="outline(this)">
                        <img src="/images/Email.svg">
                    </div>
                </div>
                <div class="input-field">
                    <label for="message">Deine Nachricht</label>
                    <textarea name="message" id="" cols="30" rows="10"></textarea>
                </div>
                <button>Absenden</button>
            </form>
        </div>
    </section>
</body>
<footer>
    <div class="privacy-policies">
        <a href="">
            Impressum
        </a>
        <a href="">
            Datenschutzerklärung
        </a>
    </div>
    <div class="copy">
        <p>&copy; Gamergram UG <%- new Date().getFullYear() %></p>
    </div>
</footer>
<script src="/scripts/animations.js"></script>
<script src="/scripts/poll.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    
</html>