:root {
  font-family: Montserrat;
  --primary-background: linear-gradient(90deg, #B474E7 0%, #EF4AB7 100%);
  --grey-background: #F5F5F5;
  --white-: #fff;
  --black-: #000;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow: hidden;
}

.inner-container {
  position: relative;
  height: 465px;
}

.fade-out {
  position: fixed;
  width: 50px;
  height: 465px;
}

.fade-out.left {
  background: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff",endColorstr="#fff",GradientType=1);
}

.fade-out.right {
  right: 120px;
  background: #fff;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#fff));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff",endColorstr="#fff",GradientType=1);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  height: 100vh;
  background-color: #f9f9f9;
  width: 300px;
  position: relative;
  border-right: 1px solid #dddddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  margin: 20px;
}

header .logo a {
  font-family: 'Roboto';
  color: #000;
  font-size: 35px;
  font-weight: 700;
  text-decoration: none;
}

header .nav-links {
  padding: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

header .nav-links a {
  margin: 15px 0;
  padding: 7px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
}

header .nav-links a img {
  width: 30px;
  -webkit-filter: brightness(0);
          filter: brightness(0);
  margin-right: 10px;
}

header .nav-links a:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header .nav-links a:hover img {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

header .profile {
  border-top: 1px solid #ddd;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

header .profile .name {
  cursor: pointer;
}

header .profile .name h4 {
  font-size: 14px;
}

header .profile .name p {
  font-size: 0.45vw;
  color: #b1b1b1;
}

header .profile a.user {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 37.5px;
  background-color: #000;
  overflow: hidden;
}

header .profile a.user img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header .profile a.user:hover img {
  opacity: 0.5;
}

header .profile a.logout {
  margin-left: 10px;
  text-decoration: none;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  padding: 5px;
}

header .profile a.logout:hover {
  background: var(--primary-background);
}

header .profile a.logout:hover img {
  -webkit-filter: invert(100);
          filter: invert(100);
}

header .profile a.logout img {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fff;
}

section {
  width: calc(100% - 200px);
  height: calc(100% - 200px);
  padding: 100px;
}

section .head hr {
  border: 0;
  border-bottom: 0.5px solid #ddd;
}

section .head .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
}

section .head .intro p {
  padding: 10px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  font-weight: 600;
}

section .head h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  font-size: 25px;
  padding: 15px 20px;
}

section .head h1 .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .head h1 .right p {
  font-weight: 200;
}

section .head h1 a {
  display: inline;
  margin: 0 10px;
  width: 50px;
  height: 50px;
}

section .head h1 a.download {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 25px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .head h1 a.download img {
  width: 30px;
  height: 30px;
}

section .head h4 {
  font-weight: 300;
  font-size: 20px;
  padding: 0px 20px;
}

section[name="summit"] .head h4 {
  padding: 20px 20px 0;
}

section[name="summit"] .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section[name="summit"] .card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 400px;
  padding: 20px;
  margin: 30px 15px 0;
  position: relative;
  overflow: hidden;
}

section[name="summit"] .card .graph:hover ~ .show-stats {
  opacity: 1;
}

section[name="summit"] .card:hover {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

section[name="summit"] .card .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section[name="summit"] .card .head .download {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  padding: 4px;
}

section[name="summit"] .card .head .download a {
  -webkit-box-shadow: none;
          box-shadow: none;
}

section[name="summit"] .card .head .download a img {
  width: 30px;
  height: 30px;
}

section[name="summit"] .card .graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

section[name="summit"] .card .graph p {
  position: absolute;
  font-size: 25px;
  font-weight: 600;
}

section[name="summit"] .card .show-stats {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 70%;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

section[name="summit"] .card .show-stats:hover {
  opacity: 1;
}

section[name="summit"] .card .show-stats a {
  padding: 10px;
  display: block;
  border: 1px solid #EF4AB7;
  color: #EF4AB7;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.05);
}

section[name="abonements"] table, section[name="polls"] table {
  border-spacing: 0px;
  width: 100%;
  overflow-y: scroll;
  margin: 20px;
}

section[name="abonements"] table tr.header th, section[name="polls"] table tr.header th {
  padding: 10px;
  border-bottom: 3px solid #000;
  text-align: left;
}

section[name="abonements"] table tr.header th:first-child, section[name="polls"] table tr.header th:first-child {
  width: 15%;
}

section[name="abonements"] table tr.header th:nth-child(2), section[name="polls"] table tr.header th:nth-child(2) {
  width: 80%;
}

section[name="abonements"] table tr.header th:last-child, section[name="polls"] table tr.header th:last-child {
  width: 5%;
}

section[name="abonements"] table tr td, section[name="polls"] table tr td {
  padding: 10px;
  border-bottom: 0.25px solid rgba(0, 0, 0, 0.1);
}

section[name="abonements"] table tr td:first-child, section[name="polls"] table tr td:first-child {
  border-right: 0.25px solid rgba(0, 0, 0, 0.1);
}

section[name="abonements"] table tr td:last-child, section[name="polls"] table tr td:last-child {
  text-align: center;
  border-left: 0.25px solid rgba(0, 0, 0, 0.1);
}

section[name="abonements"] table tr td form button, section[name="polls"] table tr td form button {
  border: 0;
  font-family: 'Montserrat';
  font-weight: 200;
  font-size: 20px;
  padding: 5px;
  border-radius: 20px;
  color: #fff;
  background: var(--primary-background);
}

section[name="contacts"] {
  overflow-y: hidden;
  margin: 0 auto;
}

section[name="contacts"] .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  margin: 50px 20px;
}

section[name="contacts"] .container::-webkit-scrollbar {
  display: none;
}

section[name="contacts"] .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 10px;
}

section[name="contacts"] .cards .card {
  width: 300px;
  height: 400px;
  background-color: var(--white-);
  margin: 20px;
  padding: 20px 25px;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

section[name="contacts"] .cards .card .card-top {
  position: relative;
  height: 100%;
}

section[name="contacts"] .cards .card .card-top.to-answer {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  margin-top: -375px;
}

section[name="contacts"] .cards .card .card-top.go-back {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  margin-top: 0;
}

section[name="contacts"] .cards .card .card-top .information {
  overflow-y: scroll;
}

section[name="contacts"] .cards .card .card-top .information::-webkit-scrollbar {
  display: none;
}

section[name="contacts"] .cards .card .card-top .information h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section[name="contacts"] .cards .card .card-top .information h3 span {
  font-size: 12px;
}

section[name="contacts"] .cards .card .card-top .information svg {
  width: 100%;
}

section[name="contacts"] .cards .card .card-top .information p {
  margin-top: 40px;
}

section[name="contacts"] .cards .card .card-top .information p.answer {
  display: block;
  margin-top: 15px;
  background-image: var(--primary-background);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  position: absolute;
  bottom: 10px;
}

section[name="contacts"] .cards .card .card-answer {
  padding-top: 20px;
}

section[name="contacts"] .cards .card .card-answer .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

section[name="contacts"] .cards .card .card-answer form {
  margin: 0;
}

section[name="contacts"] .cards .card .card-answer form .input-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section[name="contacts"] .cards .card .card-answer form .input-field label {
  font-weight: 600;
}

section[name="contacts"] .cards .card .card-answer form .input-field input {
  border: 0;
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 5px;
  font-family: 'Montserrat';
  outline: 0;
  font-size: 16px;
}

section[name="contacts"] .cards .card .card-answer form .input-field textarea {
  border: 0;
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 5px;
  font-family: 'Montserrat';
  outline: 0;
  font-size: 16px;
}

section[name="contacts"] .cards .card .card-answer form button {
  margin-top: 20px;
  border: 0;
  padding: 10px;
  color: #fff;
  background-image: var(--primary-background);
}

section[name="news"] .container {
  background-color: #f5f5f5;
  overflow-x: scroll;
  margin: 50px 20px;
}

section[name="news"] .container::-webkit-scrollbar {
  display: none;
}

section[name="news"] .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  padding: 20px 0;
}

section[name="news"] .cards::-webkit-scrollbar {
  display: none;
}

section[name="news"] .cards .card {
  background-color: var(--white-);
  border-radius: 10px;
  -webkit-box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.05);
  margin: 0 20px;
  padding: 20px;
}

section[name="news"] .cards .card#newForm {
  display: none;
}

section[name="news"] .cards .card .information {
  margin: 10px 0;
}

section[name="news"] .cards .card .information input {
  background-color: #f6f6f6;
  border: 0;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  font-family: 'Montserrat';
  outline: none;
}

section[name="news"] .cards .card .information textarea {
  border: 0;
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 10px;
  outline: none;
  font-family: 'Montserrat';
}

section[name="news"] .cards .card .information select {
  border: 0;
}

section[name="news"] .cards .card .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section[name="news"] .cards .card .buttons button {
  border: 0;
  background: var(--primary-background);
  color: #fff;
  padding: 10px;
  font-family: 'Montserrat';
}

section[name="news"] .cards .card .buttons input.del {
  color: #fff;
  background-color: #b1b1b1;
  border: 0;
  padding: 10px;
  font-family: 'Montserrat';
  outline: none;
  cursor: pointer;
}

section[name="user"] .dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

section[name="user"] .dashboard .divider {
  position: absolute;
  width: 100%;
  display: block;
  border: 0;
  border-bottom: 1px solid #f1f1f1;
}

section[name="user"] .dashboard .information {
  width: 30%;
  padding: 0px 20px;
  margin-top: 25px;
}

section[name="user"] .dashboard .information p {
  margin-top: 5px;
  font-size: 14px;
  letter-spacing: 0.02em;
}

section[name="user"] .dashboard form {
  padding: 0 30px;
  margin-left: 5%;
  width: 85%;
  max-height: 420px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

section[name="user"] .dashboard form .user-input {
  width: 48%;
  margin: 10px 0;
}

section[name="user"] .dashboard form .user-input.image .upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section[name="user"] .dashboard form .user-input.image .upload .input {
  width: calc(100% - 150px);
  position: relative;
}

section[name="user"] .dashboard form .user-input.image .upload .input input {
  width: 100%;
  position: absolute;
}

section[name="user"] .dashboard form .user-input.image .upload .input i {
  position: absolute;
  right: 10px;
  top: 17px;
  color: red;
  display: none;
  cursor: pointer;
}

section[name="user"] .dashboard form .user-input.image .upload .image-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  width: 150px;
  height: 100%;
  margin-top: 5px;
  border: 1px dashed #b1b1b1;
  cursor: pointer;
}

section[name="user"] .dashboard form .user-input.image .upload .image-upload p {
  font-size: 8px;
  margin-left: 5px;
  color: #8b8b8b;
}

section[name="user"] .dashboard form .user-input.image .upload .image-upload img {
  -webkit-filter: brightness(0);
          filter: brightness(0);
  opacity: 0.4;
  width: 39px;
}

section[name="user"] .dashboard form .user-input.image .upload .image-upload:hover {
  background-color: #B474E725;
  border-color: #B474E7;
}

section[name="user"] .dashboard form .user-input.image .upload .image-upload:hover img {
  -webkit-filter: brightness(1);
          filter: brightness(1);
  opacity: 1;
}

section[name="user"] .dashboard form .user-input.image .upload .image-upload:hover p {
  color: #000;
}

section[name="user"] .dashboard form .user-input label {
  font-size: 12px;
  font-weight: 700;
}

section[name="user"] .dashboard form .user-input input {
  outline: none;
  margin-top: 5px;
  border: 1px solid #b1b1b1;
  padding: 10px 5px;
  font-size: 16px;
  width: 100%;
  border-radius: 5px;
  font-family: 'Montserrat';
}

section[name="user"] .dashboard form button {
  margin-top: 34px;
  border: 0;
  width: 48%;
  padding: 12px;
  color: #fff;
  background-image: var(--primary-background);
  font-family: 'Montserrat';
}

section[name="images"] .container {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

section[name="images"] table {
  width: 100%;
  margin: 20px;
}

section[name="images"] table tr th {
  text-align: left;
  width: 25%;
}

section[name="images"] table tr th:nth-child(2) {
  width: 50%;
}

section[name="images"] table tr td img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

section[name="images"] .image-uploader {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 85.2%;
  height: 100%;
  right: 0;
  top: 0;
  padding: 100px;
  display: none;
}

section[name="images"] .image-uploader .container {
  background-color: #fff;
  padding: 50px;
  border-radius: 20px;
  position: relative;
}

section[name="images"] .image-uploader .container i {
  position: absolute;
  right: 50px;
  top: 50px;
  font-size: 20px;
  color: #EF4AB7;
}

section[name="images"] .image-uploader #logoTab,
section[name="images"] .image-uploader #teamTab {
  display: none;
}

section[name="images"] .image-uploader tab-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section[name="images"] .image-uploader tab-container .container {
  width: 70%;
  margin: 0 auto;
  border-radius: 25px;
  padding: 30px 20px;
  position: relative;
  overflow: auto;
}

section[name="images"] .image-uploader tab-container .container:hover {
  background-color: rgba(180, 116, 231, 0.2);
}

section[name="images"] .image-uploader tab-container .container input {
  position: absolute;
  visibility: hidden;
}

section[name="images"] .image-uploader tab-container .container label.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 650px;
  height: 250px;
  border: 4px dashed rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  cursor: pointer;
  z-index: 10;
}

section[name="images"] .image-uploader tab-container .container label.content img {
  width: 100px;
  height: 100px;
  position: relative;
  -webkit-filter: invert(0.7) brightness(0.2);
          filter: invert(0.7) brightness(0.2);
}

section[name="images"] .image-uploader tab-container .container label.content img:nth-child(2) {
  z-index: 10 !important;
}

section[name="images"] .image-uploader tab-container .container label.content img.outgrayed {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.2;
}

section[name="images"] .image-uploader tab-container .container label.content img.outgrayed.left {
  -webkit-transform: translate(100%, 0) scale(0.8);
          transform: translate(100%, 0) scale(0.8);
}

section[name="images"] .image-uploader tab-container .container label.content img.outgrayed.right {
  -webkit-transform: translate(-100%, 0) scale(0.8);
          transform: translate(-100%, 0) scale(0.8);
}

section[name="images"] .image-uploader tab-container .container .uploadbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

section[name="images"] .image-uploader tab-container .container .uploadbar .info h4 {
  font-size: 18px;
}

section[name="images"] .image-uploader tab-container .container .uploadbar .info p {
  font-size: 20px;
}

section[name="images"] .image-uploader tab-container .container .uploadbar .icon {
  width: 30px;
  height: 30px;
  background-color: #EF4AB7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #878ea7;
  border-radius: 15px;
  cursor: pointer;
  position: unset;
}

section[name="images"] .image-uploader tab-container .container .uploadbar .icon i {
  position: unset;
  color: #fff;
  font-size: 15px;
}

section[name="images"] .image-uploader tab-container .image-upload:hover label img.outgrayed.left {
  -webkit-animation: 0.2s left-move linear forwards;
          animation: 0.2s left-move linear forwards;
}

section[name="images"] .image-uploader tab-container .image-upload:hover label img.outgrayed.right {
  -webkit-animation: 0.2s right-move linear forwards;
          animation: 0.2s right-move linear forwards;
}

section[name="images"] .image-uploader label {
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 10px 20px;
  margin: 10px 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  cursor: pointer;
}

section[name="images"] .image-uploader tab-content {
  width: 100%;
}

section[name="images"] .image-uploader input#logoTab:checked ~ tab-content:not(:nth-of-type(1)),
section[name="images"] .image-uploader input#teamTab:checked ~ tab-content:not(:nth-of-type(2)) {
  display: none;
}

section[name="images"] .image-uploader input#logoTab:checked ~ label:nth-of-type(1) {
  border-color: #EF4AB7;
}

section[name="images"] .image-uploader input#teamTab:checked ~ label:nth-of-type(2) {
  border-color: #EF4AB7;
}

@-webkit-keyframes left-move {
  from {
    -webkit-transform: translate(100%, 0) scale(0.8);
            transform: translate(100%, 0) scale(0.8);
  }
  to {
    -webkit-transform: scale(0.8) rotate(-20deg);
            transform: scale(0.8) rotate(-20deg);
  }
}

@keyframes left-move {
  from {
    -webkit-transform: translate(100%, 0) scale(0.8);
            transform: translate(100%, 0) scale(0.8);
  }
  to {
    -webkit-transform: scale(0.8) rotate(-20deg);
            transform: scale(0.8) rotate(-20deg);
  }
}

@-webkit-keyframes right-move {
  from {
    -webkit-transform: translate(-100%, 0) scale(0.8);
            transform: translate(-100%, 0) scale(0.8);
  }
  to {
    -webkit-transform: scale(0.8) rotate(20deg);
            transform: scale(0.8) rotate(20deg);
  }
}

@keyframes right-move {
  from {
    -webkit-transform: translate(-100%, 0) scale(0.8);
            transform: translate(-100%, 0) scale(0.8);
  }
  to {
    -webkit-transform: scale(0.8) rotate(20deg);
            transform: scale(0.8) rotate(20deg);
  }
}
/*# sourceMappingURL=dashboard.css.map */