<table>
    <% emails.forEach(function(email) { %>
    <tr>
        <td><%- email.date.now() %></td>
        <td><%- email.email %></td>
        <td><button>X</button></td>    
    </tr>
    <% }); %>
</table>