<table>
    <% emails.forEach(function(email) { %>
    <tr>
        <td><%- email.date.getDate() %>.<%- email.date.getMonth()+1 %>.<%-email.date.getFullYear() %></td>
        <td><%- email.email %></td>
        <td><button>X</button></td>    
    </tr>
    <% }); %>
</table>