:root {
    font-family: Montserrat;
    --primary-background: linear-gradient(90deg, #B474E7 0%, #EF4AB7 100%);
    --grey-background: #F5F5F5;
    --white-: #fff;
    --black-: #000;
    scroll-behavior: smooth;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--primary-background);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        width: 400px;
        height: 400px;
        background-color: #fff;
        border-radius: 10px;

        .head {
            h1 {
                text-align: center;
            }

            h4 {
                text-align: center;
                font-weight: 200;
                font-size: 15px;
            }
        }
    }
}
