:root {
    font-family: Montserrat;
    --primary-background: linear-gradient(90deg, #B474E7 0%, #EF4AB7 100%);
    --grey-background: #F5F5F5;
    --white-: #fff;
    --black-: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
