header {
    margin: 20px 150px 50px;
    .logo {
        a {
            text-decoration: none;
            font-size: 35px;
            font-family: 'Roboto';
            display: block;
            color: #000;
        }
    }
}

section[name="datenschutz"], section[name="impressum"] {
    font-family: 'Montserrat';
    margin: 20px 150px;

    .head {
        animation: fade-up 0.4s linear forwards;
        margin-bottom: 40px;

        p {
            font-size: 25px;
        }

        h2 {
            font-size: 45px;
        }

    }

    ul {
        margin: 10px 15px;

        li {
            margin: 10px 0;
            list-style: none;

            a {

                i {
                    margin-right: 5px;
                }
            }
        }
    }
    
    h2, h3, h4 {
        margin: 20px 0;
    }
}

@media screen and (max-width: 1200px) {
    
    header {
        .socialmedia {
            right: 20px;
        }
    }

    nav {
        .links {
            margin: 20px 50px !important;
            
            .link {
                font-size: 14px;
                padding: 5px 2px;
            }
        }
    }

    section[name="datenschutz"], section[name="impressum"], header {
        margin: 50px;
    }
}